body {
    background-color: #221A14;
}
header {
    height: 55px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #333;
}

header .center {
    position: relative;
    width: 1000px;
    margin: auto;
}

header span {
    margin-left: 55px;
    font-size: 26px;
    color: #fff;
    line-height: 55px;
    font-weight: 300;
}

header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    background-size: 35px 35px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}
main {
    top: 0px;
    width: 100%;
    background: #fff;
    margin-top: 0px; 
    display: inline-block;
}
main .content {
    position: relative;
    max-width: 1000px;
    margin: auto;
    background: #fff;
}
main .tagLine {
    text-align: center;
    font-weight: 300;
}

.image {
    width: 100%;
    height: 665px;
    background-image: url("../img/code-m.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.boxes {
    position: relative;
    max-width: 960px;
    min-height: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
}
.boxes:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
.box {
    width: 300px;
    height: 500px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.box img {
    display: block;
    width: 290;
    height: 290px;
    margin: auto;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    padding: 5px;
}

.box div {
    margin-bottom: 10px;
    font-weight: 400;
}

.box span {
    font-weight: 300;
}

footer {
    position: relative;
    display: block;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 150px;
    border-top-width: 1px;
    border-top-color: #ccc;
    border-top-style: solid;
    padding: 0px;
    font-size: 10px;
    color: #ccc;
}

footer .social {
    background-color: #ccc;
    height: 50px;
    margin-bottom: 10px;
}

footer .copy {
    padding: 5px 15px;
}